# Ignore the __pycache__ directory
L1A/__pycache__/

# Ignore the L1B directory, if it exists
L1B/
L2/
L1A_quarantine_andrew/

# Ignore specific, saved initializations
ACTA*_initializations.py

__pycache__/
batch_code/
engineering/
scratch_codes/
archived_initializations/
archived_initializations_windows/
dem_lid_dif_dist_20171206.png
initializations.py
*list*.txt



