;CONFIG FILE FOR CREATING IMAGES WITH MODE 7.1 L1B DATA
;
file_path      = /Data5/spp/L1B/V2-07/sent_to_langley/112216/
file_name      = CATS-ISS_L1B_N-M7.1-V2-07.2015-03-14T14-51-11T15-35-20UTC.hdf5
dialog_path    = x /Data/Dev/Std/L1/L1b/Products/
out_path       = /Data/Code/Dev/selmer/testing_images/
absmax         = 0.05
window_x_size  = 20000
window_y_size  = 2000
main_title     = ISS CATS 1064 nm Attenuated Total Backscatter
subtitle       = Right FOV, Resolution: 60 m (vertical), 350 m (horizontal)
num_x_axes     = 3
wavelength     = 532
rec_sum        = 20
timelimit1     = -00:35:30
timelimit2     = -00:37:00
altlimit1      = -1
altlimit2      = 22
fov            = l
zmult          = 32.0

; ********************** NOTES ********************************
;
; window_x_size = 20000 and window_y_size = 2000 gives the most consistent results.   [11/30/16]
; Not sure why. Should investigate some day. Other values tend to yeild a grey mesh.
