;CONFIG FILE FOR CREATING IMAGES WITH MODE 7.2 L1B DATA
;
file_path      = /Data/Dev/Std/L1/L1b/Products/processed/
file_name      = CATS-ISS_L1B_N-M7.2-V2-07.2017-01-28T10-37-30T11-22-29UTC.hdf5
file2_name     = CATS-ISS_L1B_D-M7.2-V2-07.2017-01-28T11-22-29T12-10-12UTC.hdf5
dialog_path    = x /Data/Dev/Std/L1/L1b/Products/processed/
out_path       = /Data/Code/Dev/selmer/testing_images/
absmax         = 1e-2
window_x_size  = 20000
window_y_size  = 2000
main_title     = ISS CATS 1064 nm Attenuated Total Backscatter
subtitle       = Fore FOV, Resolution: 60 m (vertical), 5 km (horizontal)
num_x_axes     = 1
wavelength     = 1064
rec_sum        = 13
timelimit1     = 11:19:00
timelimit2     = 11:28:07
altlimit1      = -0.2
altlimit2      = 8.0
zmult          = 32.0

; ********************** NOTES ********************************
;
; window_x_size = 20000 and window_y_size = 2000 gives the most consistent results.   [11/30/16]
; Not sure why. Should investigate some day.
