;CONFIG FILE FOR CREATING IMAGES WITH MODE 7.2 L1B DATA
;
file_path      = /Data/Dev/Std/L1/L1b/Products/processed/
file_name      = *2017-10-07T21-36-21*
dialog_path    = x /Data/Dev/Std/L1/L1b/Products/processed/
out_path       = /Data/Code/Dev/selmer/testing_images/
absmax         = 8e-3
window_x_size  = 20000
window_y_size  = 2000
main_title     = ISS CATS 1064 nm Attenuated Total Backscatter
subtitle       = Fore FOV, Resolution: 60 m (vertical), 3.5 (horizontal)
num_x_axes     = 1
wavelength     = 1064
rec_sum        = 10
timelimit1     = 21:44:00
timelimit2     = 21:49:00
altlimit1      = -0.5
altlimit2      = 6.0
zmult          = 15.0

; ********************** NOTES ********************************
;
; window_x_size = 20000 and window_y_size = 2000 gives the most consistent results.   [11/30/16]
; Not sure why. Should investigate some day.
